.sitiesList {
    position: absolute;
    margin: 1em auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

.sitiesList ul {
    margin: 1rem auto;
    padding: 0;
   max-width: 365px;
   max-height: 300px;
   overflow-y: scroll;
}
