table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    min-width: 840px;
    border: solid 2px #795548;

  }

 tbody tr:nth-child(even) td{
    background-color: #bdae96;
  }

  thead th:nth-child(1) {
    width: 10%;
  }
  
  thead th:nth-child(2) {
    width: 30%;
  }
  
  thead th:nth-child(3) {
    width: 50%;
  }
  
  thead th:nth-child(4) {
    width: 15%;
  }

td:first-child,
td:last-child {
    text-align: center;
}

.th {
    border: solid 2px #795548;
    background: aliceblue;
    color: black;
    font-weight: bold;
    padding: 0.5em;
    vertical-align: bottom;
}

.tb {
    padding: 10px;
    border: solid 1px gray;
    background: papayawhip;
}

th:first-child {
    vertical-align: middle;
}

.column_filter {
    // margin-bottom: 0;
}